body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Courier New, Courier, monospace !important; /*'Bookman Old Style' !important;*/
    font-weight: 600; /* Умеренно утолщенный текст */
}

h1, h2, h3, h4, h5, h6, p, a, span, div, button {
    font-family: Courier New, Courier !important;
    font-weight: 600; /* Умеренно утолщенный текст */
}

p, button {
    font-size: 17px; /* Или любой другой размер */
    font-weight: 600; /* Умеренно утолщенный текст */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.head {
    background: linear-gradient(to right, #00c6ff, #0072ff); /*#0099ff;*/
    text-align: center;
    padding: 50px;
    color: white;
}

.album-cover {
    max-width: 300px;
    height: auto;
    border-radius: 20px;
    margin: 20px 0;
    border: 5px solid white;
}

.btn-custom {
    background-color: #0099ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace !important; /* Принудительно применяем шрифт */
    font-weight: 600; /* Делаем чуть толще */
    font-size: 18px;
}

    .btn-custom:hover {
        background-color: #0072ff;
        font-family: "Courier New", Courier, monospace !important; /* Принудительно применяем шрифт */
        font-weight: 600; /* Делаем чуть толще */
        font-size: 18px;
    }

.center-blocks {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 150px; /* Расстояние между блоками */
    padding: 24px;
}

.col-md-4 {
    width: 30%; /* Устанавливаем ширину для каждого блока */
    justify-content: center;
    align-items: center;
}
